* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f192a;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  /* background-color: #2c233b; */
  background-color: #1f192a;
  position: fixed;
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 13.5px;
  padding-right: 30px;
  padding-left: 30px;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: #52B4BA;
  font-size: 13.75px;
}

main {
  display: flex;
  position: relative;
}

.mainHR {
  border: 0;
  background: #261b39;
  height: 1.5px;
  margin: 40px 80px;
}

.left {
  padding-top: 10px;
  /* float: left; */
}

.left img {
  /* width:400px;
  height:450px; */
  width: 80%;
  height: 80%;
  margin-left: 10px;
  margin-top: 10px;
  /* margin-left: -40px; */
}


.firstSection {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.firstSection>div {
  width: 40%
}

.leftSection {
  /* width: 60%; */
  padding-left: 150px;
  margin-top: 170px;
  /* margin: 200px 200px; */
  /* background-color: aliceblue; */
}

.line1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 18px;
}

.subline {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.name {
  font-family: "Source Sans 3", sans-serif;
  /* font-weight: 300; */
  font-size: 70px;
  color: #52B4BA;
  margin-left: -3px;
}

.intro {
  font-weight: 200;
  font-size: 22px;
}

.rightSection {
  /* width: 80%; */
  margin-right: 100px;
  margin-top: 70px;
  /* background-color: aliceblue; */
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  justify-content: center;
}

/* .secondSection h1{
  font-weight: lighter;
} */


.leftLinksSection {
  vertical-align: middle;
  position: fixed;
  display: grid;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-top: -30px;
}

.linkedin {
  /* position: absolute; */
}

.github {
  /* position: absolute; */
  margin-top: 10px;
  margin-bottom: 140px;
}

.line-after {
  /* transform: rotate(90deg);
  border: none;
  background-color: #52B4BA;
  height: 1px;
  margin-bottom: 50px;
  width: 100px;
  position: absolute;
  left: 0; */

  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  border: none;
  background-color: #52B4BA;
  height: 1px;
  margin-top: 160px;
  /* margin-bottom: 20px; */
  width: 140px;
}

.rightLinksSection {
  max-width: 8vw;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 250px;
}

.email-section {
  transform: rotate(90deg);
}

.email {
  color: white;
  font-family: "Source Code Pro", monospace;
  text-decoration: none;
  font-weight: 200;

  &:after {

    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background: #52B4BA;
    width: 200px;
    left: 100%;
    top: calc(50% - 2px);
    margin-left: 10px;
    margin-top: 2px;

  }
}

.about-linker {
  /* width: 100%; */
  height: 60px;
}

.about-box-top {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #2d243d;
  z-index: -2;
}

.about-box {
  margin-top: 300px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: #2d243d;
  transform: skewY(-7deg);
  transform-origin: bottom left;
  z-index: -1;
}

.about-title {
  padding-top: 20px;
  position: relative;
  z-index: 1;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
}

.about-sections {
  display: flex;
  /* justify-content: center; */
  margin-top: 40px;
  /* text-align: center; */
}

.about-leftSection {
  /* float: left; */
  width: 48%;
  padding-top: 50px;
  padding-left: 180px;
}

.image-container {
  box-sizing: border-box;
  border: 0.75px solid #52B4BA;
  padding: 10px;
  display: inline-block;
  /* padding-right: 30px; */
  z-index: 1;
}

.image-container::before {
  content: "";
  position: absolute;
  margin-top: 10px;
  width: 250px;
  height: 250px;
  border: 0.75px solid #52B4BA;
  transform: rotate(45deg);
  z-index: -1;
}

.image-container img {
  display: block;
}

.about-rightSection {
  padding-top: 60px;
  padding-right: 120px;
  float: right;
  width: 52%;
}

.about-rightSection p {
  font-size: 18px;
  font-weight: 150;
  line-height: 1.5;
}

.thirdSection {
  /* max-width: 80vw; */
  margin-top: 30vh;
  justify-content: center;
}

.skills-linker,
.work-ex-linker,
.project-linker {
  /* width: 100%; */
  height: 60px;
}

.skills-space,
.work-ex-space {
  height: 600px;
}

.skills-header {
  display: flex;
  justify-content: center;
}

.skills-title,
.work-ex-title,
.projects-title {
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.line-end-left {
  margin-top: 50px;
  margin-right: 22px;
  filter: brightness(900%);
  animation: fadeIn 2s;
  animation-iteration-count: 5;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.line-left {
  margin-top: 48px;
  margin-right: 40px;
  transform: rotate(90deg);
  border: 0.3px solid white;
  animation: fadeIn 2s;
  animation-iteration-count: 5;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.line-end-right {
  margin-top: 48px;
  margin-left: 22px;
  transform: rotate(180deg);
  filter: brightness(900%);
  animation: fadeIn 2s;
  animation-iteration-count: 5;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.line-right {
  margin-top: 47px;
  margin-left: 40px;
  transform: rotate(90deg);
  border: 0.3px solid white;
  animation: fadeIn 2s;
  animation-iteration-count: 5;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.jsIcon,
.tsIcon {
  border-radius: 14px;
}

.icon {
  transition: transform 0.6s ease;
  /* Add smooth transition */
}

.icon:hover {
  /* animation: iconMove 0.5s ease forwards; Apply animation on hover */
  transform: translate(0, 0);
}

@keyframes iconMove {
  0% {
    transform: translate(0, 0);
    /* Initial position */
  }

  50% {
    transform: translate(20px, 20px);
    /* Move icon when hovered */
  }

  100% {
    transform: translate(0, 0);
    /* Return to original position */
  }
}

/* .pythonIcon, .javaIcon, .htmlIcon, .jsIcon, .tsIcon, .cssIcon, .angularIcon, .flutterIcon, .jupyterIcon, .reactIcon, .cIcon, .cppIcon, .dockerIcon, .djangoIcon, .awsIcon, .mysqlIcon, .gitIcon, .kotlinIcon {
  transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;

  transition-property: transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;

  &:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform:rotateY(360deg); 
    -o-transform:rotateY(360deg);
  }
} */




/* .kotlinIcon{
  border-radius: 1px;
} */


/* 
.fourthSection{
  position: relative;
  z-index: 0;
} */

.intuit-logo,
.techsera-logo {
  border-radius: 10px;
}

.work-ex-timeline {
  margin-top: 110px;
}

.work-ex-timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 650px;
  background: #52B4BA;
  left: 50%;
  margin-left: -3px;
  margin-top: -680px;
  z-index: -1;
  animation: moveline 2.4s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 650px;
  }
}

.work-ex-container {
  padding: 10px 10px;
  position: relative;
  width: 30%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  animation: movedown 0.8s linear forwards;
  opacity: 0;
}

.work-ex-container:nth-child(1) {
  animation-delay: 0s;
}

.work-ex-container:nth-child(2) {
  animation-delay: 0.8s;
}

.work-ex-container:nth-child(3) {
  animation-delay: 1.6s;
}

.work-ex-container:nth-child(4) {
  animation-delay: 2.4s;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.work-ex-text-box {
  padding: 10px 10px;
  /* background: #ffff; */
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  margin-left: 220px;
  /* left: 20; */
}

.left-container img {
  position: absolute;
  right: -72px;
  top: 13px;
  z-index: 4;
  border: #52B4BA 1px solid;
}

.right-container {
  margin-left: 45px;
  left: 50%;
}

.right-container img {
  position: absolute;
  left: -73px;
  top: 13px;
  z-index: 4;
  border: #52B4BA 1px solid;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #52B4BA;
  margin-top: -110px;
  right: -23px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #52B4BA;
  margin-top: -110px;
  left: -23px;
}

.fifthSection {
  /* max-width: 80vw; */
  position: relative;
  z-index: 1;
  margin-top: 30vh;
  justify-content: center;
}

.projects-container {
  position: relative;
  height: 600px;
  z-index: 2;
  background-color: transparent;
}

.particles-js {
  position: absolute;
  width: 100%;
  height: 1050px;
  z-index: 0;
}

/* .project-card {
  background-color: rgba(0, 0, 0, 0.829);
  border: 0.25px solid #52b5baa2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
} */

.projects-row{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project-card {
  background-color: rgba(84, 64, 113, 0.58);
  border: 1px solid #2d243d;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 20px 10px 20px;
  max-width: 300px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-decoration: none;
  color: rgb(247, 247, 247);
  position: relative;
  transition: box-shadow 0.3s;
  margin-right: 40px;
  margin-left: 40px;
}


.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.project-card h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 20px 0;
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}

.project-card p {
  font-size: 1rem;
  font-family: "Source Sans 3", sans-serif;
  margin: 5px 0;
  text-align: left;
}

.project-technologies {
  margin-top: 10px;
  display: flex;
}

.project-technologies ul {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  width: 100%;
}

.project-technologies ul li {
  font-family: "Source Sans 3", sans-serif;
  list-style: none;
  /* margin-right: 5px; */
  /* list-style-position: inside; */
  /* width: 5px; Adjust width here */
  /* height: 5px; Adjust height here */
  padding-right: 4px;
  margin-right: 3px;
  /* padding-left: 4px; */
  color: #52B4BA;
  font-size: small;
}

.github_project{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s;
  /* opacity: 1; */
}

.tooltip {
  visibility: hidden;
  position: relative;
  background-color: #18152490;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 2;
  font-size: xx-small;
  top: -185px;
  right: -170px;
  /* bottom: 100%;
  left: 50%; */
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.project-card:hover .github_project {
  /* visibility: visible; */
  opacity: 1;
}

.project-card:hover .tooltip {
  visibility: visible;
  opacity: 0.5;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translate(50%, -50%);
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media screen and (max-width: 600px) {


  .midInfoSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .firstSection {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .secondSection {
    width: 100%;
    margin: 0 auto;
  }

  .midInfoWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }


  .work-ex-timeline {
    margin: 50px auto;
  }

  .work-ex-timeline::after {
    left: 31px;
  }

  .work-ex-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
}