* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f192a;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  /* background-color: #2c233b; */
  background-color: #1f192a;
  position:fixed;
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 13.5px;
  padding-right: 30px;
  padding-left: 30px;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  text-decoration: none;
  color: #52B4BA;
  font-size: 13.75px;
}

main{
  display: flex;
  position: relative;
}

.mainHR{
  border: 0;
  background: #261b39;
  height: 1.5px;
  margin: 40px 80px;
}

.left {
  padding-top: 10px;
  /* float: left; */
}

.left img{
  /* width:400px;
  height:450px; */
  width: 80%;
  height: 80%;
  margin-left: 10px;
  margin-top: 10px;
  /* margin-left: -40px; */
}


.firstSection {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.firstSection > div{
  width: 40%
}

.leftSection {
  /* width: 60%; */
  padding-left: 150px;
  margin-top: 170px;
  /* margin: 200px 200px; */
  /* background-color: aliceblue; */
}

.line1{
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 18px;
}

.subline{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.name{
  font-family: "Source Sans 3", sans-serif;
  /* font-weight: 300; */
  font-size: 70px;
  color: #52B4BA;
  margin-left: -3px;
}

.intro{
  font-weight: 200;
  font-size: 22px;
}

.rightSection {
  /* width: 80%; */
  margin-right: 100px;
  margin-top: 70px;
  /* background-color: aliceblue; */
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  justify-content: center;
}

/* .secondSection h1{
  font-weight: lighter;
} */


.leftLinksSection{
  vertical-align: middle;
  position: fixed;
  display: grid;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-top: -30px;
}

.linkedin {
  /* position: absolute; */
}

.github {
  /* position: absolute; */
  margin-top: 10px;
  margin-bottom: 140px;  
}

.line-after{
  /* transform: rotate(90deg);
  border: none;
  background-color: #52B4BA;
  height: 1px;
  margin-bottom: 50px;
  width: 100px;
  position: absolute;
  left: 0; */

  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  border: none;
  background-color: #52B4BA;
  height: 1px;
  margin-top: 160px;
  /* margin-bottom: 20px; */
  width: 140px;
}

.rightLinksSection{
  max-width: 8vw;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content:space-around;
  margin-bottom: 250px;
}

.email-section {
  transform: rotate(90deg);
}

.email{
    color: white;
    font-family: "Source Code Pro", monospace;
    text-decoration: none;
   
    &:after {

      content: " ";
      display: block;
      position: absolute;
      height: 1px;
      background: #52B4BA;
      width: 200px;
      left: 100%;
      top: calc(50% - 2px);
      margin-left: 10px;
      margin-top: 2px;

    }
}

.about-linker {
  /* width: 100%; */
  height: 60px;
}

.about-box-top {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #2d243d;
  z-index: -2;
}

.about-box {
  margin-top: 300px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: #2d243d;
  transform: skewY(-7deg);
  transform-origin: bottom left;
  z-index: -1;
}

.about-title{
  padding-top: 20px;
  position: relative;
  z-index: 1;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
}
.about-sections{
  display: flex;
  /* justify-content: center; */
  margin-top: 40px;
  /* text-align: center; */
}

.about-leftSection {
  /* float: left; */
  width: 48%;
  padding-top: 50px;
  padding-left: 180px;
}

.image-container {
  box-sizing: border-box;
  border: 0.75px solid #52B4BA;
  padding: 10px;
  display: inline-block;
  /* padding-right: 30px; */
  z-index: 1;
}

.image-container::before {
  content: "";
  position: absolute;
  margin-top: 10px;
  width: 250px;
  height: 250px;
  border: 0.75px solid #52B4BA;
  transform: rotate(45deg);
  z-index: -1;
}

.image-container img{
  display: block;
}

.about-rightSection {
  padding-top: 60px;
  padding-right: 120px;
  float: right;
  width: 52%;
}

.about-rightSection p {
  font-size: 18px;
  font-weight: 150;
  line-height: 1.5;
}

.thirdSection {
  /* max-width: 80vw; */
  margin-top: 30vh;
  justify-content: center;
}

.skills-linker, .work-ex-linker {
  /* width: 100%; */
  height: 60px;
}

.skills-space, .work-ex-space {
    height: 600px;
}

.skills-header{
  display: flex;
  justify-content: center;
}

.skills-title, .work-ex-title{
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
}

.line-end-left{
  margin-top: 50px;
  margin-right: 22px;
  filter: brightness(900%);
}

.line-left{
  margin-top: 48px;
  margin-right: 40px;
  transform: rotate(90deg);
  border: 0.3px solid white;
}

.line-end-right{
  margin-top: 48px;
  margin-left: 22px;
  transform: rotate(180deg);
  filter: brightness(900%);
}

.line-right{
  margin-top: 47px;
  margin-left: 40px;
  transform: rotate(90deg);
  border: 0.3px solid white;
}

.jsIcon, .tsIcon {
  border-radius: 14px;
}

.pythonIcon, .javaIcon, .jsIcon, .tsIcon, .htmlIcon, .cssIcon, .angularIcon, .flutterIcon, .jupyterIcon, .reactIcon, .cIcon, .cppIcon, .dockerIcon, .djangoIcon, .awsIcon, .mysqlIcon, .gitIcon, .kotlinIcon {
  transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;

  transition-property: transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;

  &:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform:rotateY(360deg); 
    -o-transform:rotateY(360deg);
  }
}




/* .kotlinIcon{
  border-radius: 1px;
} */

@media screen and (max-width: 600px) {


  .midInfoSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .firstSection{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .secondSection {
    width: 100%;
    margin: 0 auto;
  }
  .midInfoWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }

}